{% extends 'admin/index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block Title %}
    Society Rule
    {% endblock %}
    {% block ContentPage %}
      <!-- Begin Page Content -->
      <!-- Page Heading -->
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Society Rule Form</h1>
        <a href="/admin/SocietyRule/List/" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-angle-left fa-sm text-white-50"></i> Back</a>
      </div>

      <form action="/admin/SocietyRule/Add/" id="formCategory" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if msg != null %}
        {% if status == 'Success' %}
          <div class="alert alert-success">
            {{msg}}
          </div>
        {% else %}
          <div class="alert alert-danger">
            {{msg}}
          </div>
        {% endif %}
     
      {% endif %}
        <div class="card shadow mb-4">
          <input type="hidden" name="hidId" id="hidId" value="{% if Data.0 != NULL %}{{Data.0}}{% else %}0{% endif %}">

          <div class="card-header">
            <h5>Society Rule Form</h5>
          </div>
        
          <div class="card-body">
            <div class="form-group">
              <b><label>Title</label></b>
              <input value="{{Data.1}}" required pattern="[A-Za-z\s]{1,50}" title="Please Enter Rule Title in Alfabatic Character Between 1 to 50" name="rule_title" type="text" id="rule_title" class="form-control" placeholder="Rule Title" autocomplete="off" />
            </div>
            <div class="form-group">
              <b><label>Discription</label></b>
              <textarea required name="rule_discription" autocomplete="off" class="form-control" id="rule_discription">{{Data.2}}</textarea>
            </div>
            <div class="form-group">
                <b><label>Apply On Date</label></b>
                <input value="{{Data.3}}" required name="apply_on" type="date" id="apply_on" class="form-control" placeholder="Rule Title" autocomplete="off" />
            </div>
            <div class="form-group">
                <b><label>Dismised On Date</label></b>
                <input value="{{Data.4}}" required name="dismiss_on" type="date" id="dismiss_on" class="form-control" placeholder="Rule Title" autocomplete="off" />
            </div>
            <div class="form-group">
              <b><label>Status</label></b>
              <select required aria-required="true" name="status" id="status" class="form-control">
                <option value="">--Select Status--</option>
                <option {% if Data.5 == "Active" %}selected="selected"{% endif %} value="Active">Active</option>
                <option {% if Data.5 == "Deactive" %}selected="selected"{% endif %} value="Deactive">Deactive</option>
              </select>
            
            </div>
          </div>
          <div class="card-footer text-center">
            <button id="btnSave" name="btnSave" class="btn btn-success" type="submit"><i class="fa fa-save mr-2"></i>&nbsp;Save Course</button>
            <button id="btnCancle" name="btnCancle" class="btn btn-danger" type="reset"><i class="fa fa-times mr-2"></i>&nbsp;Clear</button>
          </div>
        </div>
      </form>
    {% endblock ContentPage %}

    
</body>
</html>