{% extends 'admin/index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block Title %}
    Suggestion Form
    {% endblock Title %}
    {% block ContentPage %}
     <!-- Begin Page Content -->
      <!-- Page Heading -->
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Suggestion Form</h1>
        <a href="/admin/Suggestion/List/" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-angle-left fa-sm text-white-50"></i> Back</a>
      </div>

      <form action="/admin/Suggestion/Add/" id="formCategory" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if msg != null %}
        {% if status == 'Success' %}
          <div class="alert alert-success">
            {{msg}}
          </div>
        {% else %}
          <div class="alert alert-danger">
            {{msg}}
          </div>
        {% endif %}
     
      {% endif %}
        <div class="card shadow mb-4">
          <div class="card-header">
            <h5>Suggestion Form</h5>
          </div>
          <div class="card-body">
          <input type="hidden" name="hidId" id="hidId" value="{% if Data.0 != NULL %}{{Data.0}}{% else %}0{% endif %}">

            <div class="form-group">
              <b><label>Suggestion Type</label></b>
              <select name="suggestion_type" id="suggestion_type" class="form-control">
                <option {% if Data.2 == "Society" %}selected="selected"{% endif %} value="Society">Society</option>
                <option {% if Data.2 == "Noticeboard" %}selected="selected"{% endif %} value="Noticeboard">Noticeboard</option>
                <option {% if Data.2 == "Sport Club" %}selected="selected"{% endif %} value="Sport Club">Sport Club</option>
                <option {% if Data.2 == "Playground" %}selected="selected"{% endif %} value="Playground">Playground</option>
                <option {% if Data.2 == "Garden" %}selected="selected"{% endif %} value="Garden">Garden</option>
                <option {% if Data.2 == "Buildings" %}selected="selected"{% endif %} value="Buildings">Buildings</option>
                <option {% if Data.2 == "Compound" %}selected="selected"{% endif %} value="Compound">Compound</option>
              </select>
            </div>
            <div class="form-group">
                <b><label>Description</label></b>
                <textarea name="suggestion_description" id="suggestion_description" class="form-control">{{Data.3}}</textarea>
            </div>
            
            <div class="form-group">
                <b><label>Remarks</label></b>
                <textarea name="remarks" id="remarks" class="form-control">{{Data.5}}</textarea>
            </div>
            <div class="form-group">
              <b><label>Status</label></b>
              <select required aria-required="true" name="status" id="status" class="form-control">
                <option value="">--Select Status--</option>
                <option {% if Data.5 == "Active" %}selected="selected"{% endif %} value="Active">Active</option>
                <option {% if Data.5 == "Deactive" %}selected="selected"{% endif %} value="Deactive">Deactive</option>
              </select>
            </div>
          </div>

          <div class="card-footer text-center">
            <button id="btnSave" name="btnSave" class="btn btn-success" type="submit"><i class="fa fa-save mr-2"></i>&nbsp;{% if Data.0 != 0 and Data.0 != null %}Update{% else %}Save{% endif %}</button>
            <button id="btnCancle" name="btnCancle" class="btn btn-danger" type="reset"><i class="fa fa-times mr-2"></i>&nbsp;Clear</button>
          </div>
        </div>
      </form>
    {% endblock ContentPage %}
</body>
</html>